* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hidden{
    display: none;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

.container {
    max-width: 1000px;
    margin: 50px auto;
    text-align: center;
}

.search-box {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    border: 2px solid #ddd;
    margin-bottom: 30px;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.item-card {
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
    opacity: 1;
    transform: scale(1);
    background-color: white;
}

.item-card.hidden {
    opacity: 0;
    transform: scale(0.8);
    pointer-events: none;
}

.item-card img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.item-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.item-card p {
    font-size: 14px;
    color: #555;
}

.contact-whatsapp {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #25D366;
    border-radius: 50px;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
}

.contact-whatsapp:hover {
    background-color: #1db154;
}

.whatsapp-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
